################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/CoreMVC_Forms2
/CoreMVC_Forms2/bin/Debug/net9.0
/CoreMVC_Forms2/obj
